.button {
  position: relative;
  min-height: 50px;

  .controls {
    position: absolute;
    right: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
  }
}